.container {
    margin-top: 100px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 150px;
    margin: auto;
}

.modal p {
    margin: auto;
    width: 600px;
    padding: 100px 100px 100px 150px;
    background-color: rgba(255, 255 ,255, 0.8);
    border: 1px solid #15a589;
}
